body {
    background-color: #053B50;
    margin: 0;
    font-family: "Roboto";
    color: white;
}

.header{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color:#176B87 ;
    list-style: none;
    flex-wrap: wrap;
}


.name {
    margin: 10px;
    margin-right: 15px;
    font-size: 2rem;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.button {
    text-decoration: none;
    background-color: #64CCC5;
    border: solid 20px #64CCC5;
    height: 60px;
    color: white;
}

.button:hover {
    color: #176B87;
}

.active {
    background-color: #053B50;
    border-color: #053B50;
}

.container {
    display: inline-flex;
    align-items: center;
    flex-wrap:nowrap;
    width: 100%;
}

.align-left {
    flex-direction: row-reverse;
}

.box {
    display: inline-flex;
    flex-direction: column;
    border: solid #176B87 15px;
    background-color: #176B87;
    border-radius: 15px;
    margin: 25px;
}

.box a {
    color: white;
    text-decoration: none;
}

.box li {
    list-style: none;
    margin-left: 10px;
}


.box img {
    width: 500px;
    border-radius: 5px;
}

.box p {
    margin: 10px;
    min-width: 480px;
    font-size: 1.5rem;
    color: white;
}

.box h1 {
    font-size: 1.8em;
    margin: 10px;
    
    color:burlywood;
}

.box h2 {
    margin: 10px;
}
.box h3 {
    margin: 10px;
    color:burlywood;
}



footer {
    display: flex;
    background-color: #176B87;
    color: #053B50;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1150px) {
    .container{
        flex-wrap: wrap;
    }
}

@media (max-width: 680px) {
    .header{
        height: 120px;
    }
    .name {
        margin-top: 30px;
    }
    .box img {
        width: 330px;
    }
    .box p {
        min-width: 310px;
    }
}

@media (max-width: 523px) {
    .button-container{
        height: 120px;
    }
    .header {
        height: 180px;
    }
    .name {
        margin: 0;
        margin-bottom: 55px;
        margin-left: 10px;
    }
}